html {
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    margin: 0 ;
    padding: 0 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url(img/img.kafe.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}


.header {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.header .logo .head-img1  {
    width: 128px;
    height: 47px;
}

.header .logo .head-img {
    position: relative;
    width: 128px;
    height: 61px;
    bottom: 10px;
}

.spisok {
    margin-top: 10px;
}


.header .logo{
    display: flex;
    gap: 35px;
    position: relative;
    left: 70px;
    
}
.header .logo img{
    width: 100px;
    height: 50px;
}

.header .spisok a{
    text-decoration: none;
    color: white;
    margin: 0 0 0 35px;
    
}


.gruppa img {
    margin-top: 8px;
    padding: 0 20px 0 10px;
}

.header .gruppa {
    position: relative;
    gap: 300px;
    left: -40px;
}

.gruppa .btn-header {
    position: relative;
    height: 42px;
    width: 171px;
    bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.beach {
    position: relative;
    left: 120px;
    top: 150px;
    color:  white;
}

.beach p {
    margin-top: 40px;
}


.beach-img {
    display: grid;
    height: 100vh;
    grid-template-rows: 200px 200px;
    grid-template-columns: 280px 280px;
    width: 50px;
    height: 50px;
  
    row-gap: 20px;
    column-gap:  55px;
    margin-left: 800px;
    margin-top: -80px;
}




