html {
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    margin: 0 ;
    padding: 0 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url(img/img.kafe.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.header .logo .head-img1  {
    width: 128px;
    height: 47px;
}

.header .logo .head-img {
    position: relative;
    width: 128px;
    height: 61px;
    bottom: 10px;
}

.spisok {
    margin-top: 10px;
}


.header .logo{
    display: flex;
    gap: 35px;
    position: relative;
    left: 70px;
    
}
.header .logo img{
    width: 100px;
    height: 50px;
}

.header .spisok a{
    text-decoration: none;
    color: white;
    margin: 0 0 0 35px;
    
}


.gruppa img {
    margin-top: 8px;
    padding: 0 20px 0 10px;
}

.header .gruppa {
    position: relative;
    gap: 300px;
    left: -40px;
}

.gruppa .btn-header {
    position: relative;
    height: 42px;
    width: 171px;
    bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}


.card .cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    position: relative;
    top: 180px;  
    left: 320px;
}

.premium {
    width: 380px;
    height: 527px;
}

.card .cards .premium {
    border: 1px solid rgb(255, 255, 255,0.5);
    border-radius: 12%;
    position: relative;
    right: 310px;
    background: rgb(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    padding: 26px 30px 26px 30px;
}

.prem-img {
    position: relative;
    width: 352px;
    height: 200px;
}

.btn-prem {
    margin-left: 10px;
    margin-top: 10px;
    width: 129px;
    height: 37px;
    background: #3D324F;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.ahah {
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}


.parasha {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.prem2 {
    opacity: 50%;
}